/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
.dark{
  --background:#171717;
  --foreground:#ffffff;


}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: Arial, Helvetica, sans-serif;
}

/* This only triggers if you manually add <html class="dark">. 
   Otherwise, the site will stay Light, regardless of OS settings.
*/
.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-manrope), var(--font-inter), ui-sans-serif, system-ui;
  --font-heading: var(--font-manrope);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}